#canvas {
	float: left;
	border: 1px solid #000000;
	margin: 0 auto;
	background-color: grey;
	/*display: block; */
}

body {
	background-color: black;
}

#textList {
	float: left;
	display: table-cell;
	color: white;
	width: 200px;
}

#text {
	resize: none;
}

.controlls {
	display: block;
}

.row {
	display: table;
}

.textListElement {
	background-color: grey;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}